@use "../../mixin.scss" as mixin;

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title_container {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        > p, > h1 {
            margin: 0;
        }
        > p {
            color: mixin.$gray-100;
        }
    }

    .message_box {
        margin: 0 0;
        font-weight: 600;
        font-size: 0.8rem;
        &.error {
            color: mixin.$red-100;
        }
    }

    .submitBtn {
        margin-top: 2rem;
    }
}